*.ksanim
*.kn5
*.dds
*.jpg
*.knh
*.vao-patch
*.bank
*.zip
extension/lib.lua
*.kn5
/Art/
/Graphics/
/ohyeah2389_t180/
/Build/
*.code-workspace
*.tmp
quickbms.exe
/ohyeah2389_t180_beamng
*.svg
*.csv
*.pdf
*.blend
*.blend1
*.mkv
